.sideBar {

    .download {
        position: fixed;
        left: 0px;
        top: 195px;
        z-index: 1;
        width: 60px;
        height: 190px;
        font-size: 20px;
        border-radius: 35px;
        font-weight: bold;
        writing-mode: vertical-lr;
        letter-spacing: 8px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
        @include buttonStyle_2;

        i {
            width: 30px;
            height: 32px;
        }
    }

    .rightSide {
        position: fixed;
        right: 0px;
        top: 195px;
        z-index: 1;
        width: 60px;
        height: auto;
        border-radius: 35px;
        padding: 20px 0;
        @include buttonStyle_2;

        li {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            padding-bottom: 8px;
            cursor: pointer;

            i {
                width: 30px;
                height: 30px;
            }
        }
    }
}