//主色系
$mainBG_1: #3d4cce;
$mainBG_2:#ffffff;
$mainBG_3: #f8f8fa;

//主要boder
$main_Border: #4c4c4c;
$main_Border_2: #dbdef4;

//Table用底線
$specailBorder: #3d4cce;

//優惠申請邊框
$saleBorder: #86b6fe;

//Table
$table_BG:#ffffff;
$table_Th_Bg:#ffffff;
$table_Th_color:#333333;
$table_Td_Border:#dbdef4;

//主要文字色
$main_Color:#333333;
$main_Color2:#ffffff;
$main_Color3:#747474;
$main_Color4:#3d4cce;
$main_Color6: #4d4d4d;
$main_Color7: #4a59ed;
//主要陰影
$boxShadow_1:  #dee1f5;
$boxShadow_2: #c0c0c0;
$boxShadow_3: #00000033;

//remind
$remindColor_Second:#999999;
$remindColor_Main:#e11515;

//等級
$level_low:#3d4cce;
$level_middle:#ff8d68;
$level_high:#0df;

//個人資料內頁資料順序圓框
$bAse:#c7c7c7;
$bAseactive:#05b900;


//jumpWindow
$jumpWindow_Fli:#000000a3;
$jumpWindow_bg:#f8f8fa;
$jumpWindow_Titlecolor:#ffffff;
$jumpWindow_Text:#333333;
$jumpWindow_Date:#666666;
$jumpWindow_border:#b3b3b3;
$jumpWindow_borderActive:#4a59ed;
$jumpWindow_titleBg:linear-gradient(135deg,#7c4dff,#887aff);

//帶before選項+active
@mixin optionStyle_1 {
    color: #666666;
    font-size: 14px;
    padding-left: 64px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    font-weight: bold;
    cursor: pointer;

    &:hover,&:active,&.active {
        background: #f0f5ff;
        color: #333333;

        &::before {
            content: "";
            position: absolute;
            width: 3px;
            height: 100%;
            left: 0px;
            top: 0px;
            background: #0068ff;
        }
    }
}

//投注金額按鈕
@mixin buttonStyle_put {
    font-size: 15px;
    font-weight: bold;
    color: #999999;
    background: linear-gradient(to bottom,#ffffff 40%,#f4f4f4 100%);
    border: solid 1px #e8e8e8;
    border-radius: 3px;
    letter-spacing: 1px;

    &:hover,&:active,&.active {
        background: #4a59ed;
        color: #ffffff;
    }
}

//input
@mixin inputStyle {
    border: solid 1px #dedede;
    background: transparent;
    text-align: left;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    padding-left: 15px;
}

@mixin inputStyle_1 {
    border: none;
    background: transparent;
    color: #000;
}

//select
@mixin select_Style {
    border: solid 1px #dedede;
    background: transparent;
    text-align: left;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    padding-left: 16px;
    background-image: linear-gradient(45deg,transparent 50%,#3278ff 0),linear-gradient(135deg,#3278ff 50%,transparent 0);
    background-position: calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px);
    background-size: 5px 5px,5px 5px;
    background-repeat: no-repeat;
    appearance: none;

    option {
        background: #ffffff;
        color: #000000;
    }
}

//header上
$headerTop_Btn: #ffffff;
$headerTop_Border: #4a59ed;
$headerTop_Remind:#0df;
$headerTop_Hover:#0068ff;
$headerTop_before:#ffff00;

@mixin headerTopInput {
    border: solid 1px #e6e6e6;
    background: #ffffff;
    color: #333333;
    border-radius: 3px;
    padding: 0 5px 0 30px;
    font-size: 14px;
}

//transferInfo(top上的下拉bar)
$transferInfo_bg:#666;
$transferInfo_Border:#737373;
$transferInfo_Coler:#ffffff;

//語言列
@mixin langStyle {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;

    option {
        background: #ffffff;
        color: #333333;
    }
}

//header下
$headerBottom_Color: #333333;
$headerBottom_Border: #4a59ed;
$headerBottom_trianGle:#4a59ed;

//跑馬燈 
$marqueeArea_BG:#f8f8fa;
$marqueeArea_Color:#333333;
$marqueeArea_Shadow:#dee1f5;

//solt遊戲框
$gamebg:#f8f8fa;
$gameboder:#b3b3b3;
$game_shadow:#00000033;
$game_color:#333333;
$game_hoverBG:#0000006e;
@mixin game_btn {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    background: linear-gradient(to bottom,#ffffff 40%,#f4f4f4 100%);
    border: solid 1px #e8e8e8;
    border-radius: 3px;
    letter-spacing: 1px;

    &:hover,&:active,&.active {
        background: #4a59ed;
        color: #ffffff;
    }
}
@mixin game_Lastbtn {
    background: linear-gradient(to bottom,#9ddbec 0%,#0282cc 50%,#82aeeb 100%);
    border: solid 1px #0282cc;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;

    &:hover,&:active,&.active {
        background: linear-gradient(to top,#9ddbec 0%,#0282cc 50%,#82aeeb 100%);
    }
}

//存提頁
//lv
$LV_Bg:#cfb53d;
$LV_Color:#ffffff;

//轉存提小圓按鈕
@mixin inout_Btn {
    background: #e6ebff;
    border: 1px solid #85b5fe;
    color: #4a59ed;
    border-radius: 50%;
    font-size: 21px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    &:hover,&:active,&.active {
        background: #4a59ed;
        color: #ffffff;
    }
}

//忖款選項按鈕(滑入紫色漸層)
@mixin deposit_Btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #cccccc;
    border-radius: 3px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;

    &:hover,&:active,&.active {
        background: linear-gradient(135deg,#7c4dff,#887aff);
        color: #ffffff;
        border-color: transparent;
    }
}

//remindbox重要提醒框
$remineBoder:#cca172;
$remineTitle:#cfa678;
$remineText:#333333;

//字和邊框都金色按鈕
@mixin smallBtn {
    border: solid 1px #cca172;
    color: #cca172;
    background: none;
    text-decoration: none;
    text-align: center;
}
//查看活動小按鈕
@mixin smallBtn2 {
    color: #557bff;
    border: solid 1px #557bff;
    background: none;
}
//金色hover變成藍色底按鈕
@mixin dateBtn {
    background: linear-gradient(#fff 40%,#f4f4f4);
    border: 1px solid #e8e8e8;
    color: #333333;
    border-radius: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;

    &:hover,&:active,&.active {
        background: #0068ff;
        color: #ffffff;
    }
}

//tabs
@mixin tabs_btn {
    background: #999;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    text-align: center;
    cursor: pointer;
    font-size: 14px;

    &:hover,&:active,&.active {
        background: linear-gradient(135deg,#2e7bff,#734af6);
    }
}
//字和框都藍色小按鈕
@mixin bet_btn {
    color: #29abff;
    background: none;
    text-decoration: none;
    border: 1px solid #29abff;
    text-align: center;
}

//銀行卡片顏色
$eMpty_Bg: linear-gradient(120deg,#e8ebf2 0%,#cbcdd3 30%);
$register_Bg: linear-gradient(120deg,#e8ebf2 0%,#cbcdd3 30%);
$register_Border: #dbdef4;

//投注金額按鈕白金色
@mixin much_Btn {
    font-size: 15px;
    font-weight: bold;
    color: #999999;
    background: linear-gradient(to bottom,#ffffff 40%,#f4f4f4 100%);
    border: solid 1px #e8e8e8;
    border-radius: 3px;
    letter-spacing: 1px;

    &:hover,&:active,&.active {
        background: #4a59ed;
        color: #ffffff;
    }
}

//站內信
$mailread_Color:#e8e8e8;
//站內信已讀按鈕
@mixin mailreadBtn {
    color: #4cb816;
    border: solid 1px #4cb816;
    background: none;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    line-height: 25px;
    font-size: 14px;
}
//站內信刪除按鈕
@mixin maildeleteBtn {
    color: #e11515;
    border: solid 1px #e11515;
    background: none;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    line-height: 25px;
    
}

//footer
$footer_bg:#333333;
$footer_bg2:#e6e6e6;

//常見金色漸層Btn
@mixin mainBtn {
    background: linear-gradient(#f1d7b7,#cca172 50%,#f1c999);
    border:1px solid #d2a269;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 0 16px;

    &:hover,&:active,&.active {
        background: linear-gradient(to top,#f1d7b7 0,#cca172 50%,#f1c999);
    }
}

//disable
@mixin disable {
    background:#c7c7c7;
    color: #ffffff;
}

//sideBar
@mixin sideBar {
    background:linear-gradient(#3179ff,#784dff);
    color: #ffffff;
}


























$backgroundColor_1: #3d4cce;
$backgroundColor_2: #0068ff;
$backgroundColor_2: #f8f8fa;
$backgroundColor_4: #4a59ed;
$backgroundColor_5: #333333;
$backgroundColor_6: #e6e6e6;
$backgroundColor_7: #f4f4f4;
$backgroundColor_8: #ffffff;
$backgroundColor_9: #0000005c;
$backgroundColor_10: #666666;
$backgroundColor_11: #fff9f8;
$backgroundColor_12: #c7c7c7;
$backgroundColor_13: #cfb53d;
$backgroundColor_14: #f0f5ff;




$fontColor_1: #ffffff;
$main_Color: #333333;
$main_Color7: #4a59ed;
$fontColor_4: #0df;
$fontColor_5: #666666;
$fontColor_6: #3d4cce;
$fontColor_7: #e11515;
$fontColor_8: #a5a5a5;
$fontColor_9: #4d4d4d;
$fontColor_10: #cfa678;
$fontColor_11: #f15a24;
$fontColor_12: #00a99d;




$fontColor_13: #00a99d;
$fontColor_14: #55aaff;

$borderColor_1: #4a59ed;
$borderColor_2: #4c4c4c;
$borderColor_3: #dbdef4;
$borderColor_4: #c6c8d0;


$borderColor_5: #f08a8a;
$borderColor_6: #ffff00;
$borderColor_7: #b3b3b3;
$borderColor_8: #e11515;
$borderColor_9: #cca172;

$boxShadow_1:  #dee1f5;


$boxShadow_2: #c0c0c0;
$boxShadow_3: #00000033;

$linear_1: linear-gradient(135deg,#7c4dff,#887aff);



$linear_2: linear-gradient(to bottom,#ffffff 0%,#e6e6e6 100%);
$linear_3: linear-gradient(120deg,#e8ebf2 0%,#cbcdd3 30%);
$linear_4: linear-gradient(120deg,#f1d7b7 0%,#cca172 50%,#f1c999 100%);


///////button


//登入
@mixin buttonStyle_1 {
    background: linear-gradient(#f1d7b7,#cca172 50%,#f1c999);
    border:1px solid #d2a269;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 0 16px;

    &:active,&.active {
        background: linear-gradient(0deg,#f1d7b7 0,#cca172 50%,#f1c999);
    }
}

//slidebar
@mixin buttonStyle_2 {
    background:linear-gradient(#3179ff,#784dff);
    color: #ffffff;
    font-weight: bold;
}

//常用黃漸層按鈕
@mixin mainBtn {
    background: linear-gradient(to bottom, #f1d7b7 0%, #cca172 50%, #f1c999 100%);
    border: solid 1px #cca172;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover,&:active,&.active {
        background: linear-gradient(to top, #f1d7b7 0%, #cca172 50%, #f1c999 100%);
    }
}

//投注金額按鈕
@mixin much_Btn {
    font-size: 15px;
    font-weight: bold;
    color: #999999;
    background: linear-gradient(to bottom,#ffffff 40%,#f4f4f4 100%);
    border: solid 1px #e8e8e8;
    border-radius: 3px;
    letter-spacing: 1px;

    &:hover,&:active,&.active {
        background: #4a59ed;
        color: #ffffff;
    }
}
//轉存提小按鈕
@mixin buttonStyle_5 {
    background: #e6ebff;
    border: 1px solid #85b5fe;
    color: #4a59ed;
    border-radius: 50%;
    font-size: 21px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    &:hover,&:active,&.active {
        background: #4a59ed;
        color: #ffffff;
    }
}

//存款頁上方選單
@mixin buttonStyle_6 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #cccccc;
    border-radius: 3px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;

    &:hover,&:active,&.active {
        background: linear-gradient(135deg,#7c4dff,#887aff);
        color: #ffffff;
        border-color: transparent;
    }
}








//優惠頁查看活動
@mixin much_Btn-2 {
    background: linear-gradient(to bottom,#9ddbec 0%,#0282cc 50%,#82aeeb 100%);
    border: solid 1px #0282cc;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;

    &:hover,&:active,&.active {
        background: linear-gradient(to top,#9ddbec 0%,#0282cc 50%,#82aeeb 100%);
    }
}
//優惠頁返回
@mixin much_Btn-3 {
    background: linear-gradient(to bottom,#ffffff 40%,#f4f4f4 100%);
    border: solid 1px #e8e8e8;
    border-radius: 3px;
    color: #c69c6d;
    font-size: 18px;
    font-weight: bold;

    &:hover,&:active,&.active {
        background: linear-gradient(to top,#ffffff 40%,#f4f4f4 100%);
    }
}
//無背景單框按鈕
@mixin buttonStyle_8 {
    padding: 0 10px;
    background: none;
    border: solid 1px #cca172;
    border-radius: 3px;
    color: #cca172;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    white-space: nowrap;

    &:hover,&:active,&.active {
        opacity: 0.8;
    }
}
//我的錢包-轉入中心錢包
@mixin  buttonStyle_8_2 {
    background: #ffffff;
    border: solid 1px #e11515;
    border-radius: 3px;
    color: #e11515;

    &:hover,&:active,&.active {
        
    }
}
//頁籤式按鈕
@mixin buttonStyle_9 {
    background: #999999;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;

    &:hover,&:active,&.active {
        background: #ce1515;
    }
}
//選擇時間+選擇金額
@mixin buttonStyle_11 {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    background: linear-gradient(to bottom,#ffffff 40%,#f4f4f4 100%);
    border: solid 1px #e8e8e8;
    border-radius: 3px;
    letter-spacing: 1px;

    &:hover,&:active,&.active {
        background: #e11515;
        color: #ffffff;
    }
}
//站內信編輯按鈕+其他按鈕
@mixin buttonStyle_12 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #333333;
    border: solid 1px #e6e6e6;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;

    &:hover,&:active,&.active {
        background: #e11515;
        color: #ffffff;
    }
}
@mixin buttonStyle_12_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #cfa678;
    border: solid 1px #cfa678;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;

    &:hover,&:active,&.active {
        opacity: 0.8;
    }
}
@mixin buttonStyle_12_3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #4cb816;
    border: solid 1px #4cb816;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;

    &:hover,&:active,&.active {
        opacity: 0.8;
    }
}
@mixin buttonStyle_12_4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #ed1c24;
    border: solid 1px #ed1c24;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;

    &:hover,&:active,&.active {
        opacity: 0.8;
    }
}
//優惠-申請提領+查看活動
@mixin buttonStyle_13 {
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    background: #ffffff;
    color: #fc4d14;
    border: solid 1px #fc4d14;

    &:hover,&:active,&.active {

    }
}
@mixin buttonStyle_13_2 {
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    background: #ffffff;
    color: #557bff;
    border: solid 1px #557bff;

    &:hover,&:active,&.active {
        
    }
}

button:disabled {
    background: #ccc!important;
    border: none!important;
    color: #ffffff !important;
    box-shadow: none !important;
    cursor: not-allowed;
}


////////input


@mixin inputStyle_1 {
    border: solid 1px #e6e6e6;
    background: #ffffff;
    color: #333333;
    border-radius: 3px;
    padding: 0 5px 0 30px;
    font-size: 14px;
}
@mixin inputStyle_2 {
    border: solid 1px #e6e6e6;
    background: transparent;
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
}
@mixin inputStyle {
    padding: 0 15px;
    box-sizing: border-box;
    border: solid 1px #e6e6e6;
    border-radius: 3px;
    font-size: 14px;
    background: #ffffff;
    color: #000000;
    font-weight: bold;
}

input:disabled {
    background: #fafafa !important;
    border-color: #e6e6e6 !important;
    color: #000000 !important;
    box-shadow: none !important;
    pointer-events: none !important;
}
input:read-only {
    background: none !important;
    border: none !important;
    color: #000000 !important;
    box-shadow: none !important;
    pointer-events: none !important;
}


///////select
@mixin select_Style {
    border-radius: 3px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    padding-left: 16px;
    background-image: linear-gradient(45deg,transparent 50%,#3278ff 0),linear-gradient(135deg,#3278ff 50%,transparent 0);
    background-position: calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px);
    background-size: 5px 5px,5px 5px;
    background-repeat: no-repeat;
    appearance: none;
    font-size: 16px;
    font-weight: bold;

    option {
        background: #ffffff;
        color: #000000;
    }
}